/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #2e2e2e;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #3e3e3e;
  padding: 20px;
  color: #f2f2f2;
}

header h1 {
  margin: 0;
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #9d9d9d;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background: #606060;
  border-radius: 5px;
}

main {
  flex: 1;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #3e3e3e;
  border-radius: 10px;
}

section {
  margin-bottom: 20px;
}

footer {
  background: #3e3e3e;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

footer p {
  margin: 0;
}

/* Form and button styles */
input, select {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 22px); /* Adjusted for padding and border */
}

button {
  margin: 5px 2px;
  padding: 10px 20px;
  background-image: linear-gradient(10deg, #9456fd, #424242);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(10deg, #7d4c9d, #323232);
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #3e3e3e;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  color: #f2f2f2;
}

th {
  background-color: #5e5e5e;
}

td button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

td button:hover {
  background-color: #e0e0e0;
}

/* Responsive styles */
@media (max-width: 768px) {
  header, footer {
      padding: 10px;
  }

  nav ul {
      flex-direction: column;
  }

  nav ul li {
      
      margin-bottom: 10px;
  }

  button {
      padding: 8px 16px;
  }
}

/* Login container styles */
.login-container {
  background: #3e3e3e;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.avatar {
  margin-bottom: 20px;
}

.avatar img {
  width: 100px;
  border-radius: 50%;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  padding-left: 10px;
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-image: linear-gradient(10deg, #9456fd, #424242);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-image: linear-gradient(10deg, #7d4c9d, #323232);
}

#logout-button {
  width: 10%;
  background-image: linear-gradient(10deg, #272727, #424242);
}