<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>ERP - Vendas</title>
</head>
<body>
    <header>
        <h1>ERP - Vendas</h1>
    </header>
    <main>
        <section id="vendas-list">
            <h2>Vendas Registradas</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Funcionário</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Valor Produto</th>
                        <th>Valor Total</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="vendas-body">
                    <!-- Vendas serão inseridas aqui -->
                </tbody>
            </table>
        </section>
    </main>
    <script src="{{url_for('static', filename='js/vendas.js')}}"></script>
</body>
</html>