<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP - Página Inicial</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <header>
        <h1>Sistema de Gestão empresarial</h1>
        <nav>
            <ul>
                <li><a href="/estoque">Estoque</a></li>
                <li><a href="/recursoshumanos">Recursos Humanos</a></li>
                <li><a href="/vendedor">Vendedor</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Sobre o Sistema</h2>
            <p>Este é o sistema ERP para gerenciar produtos, funcionários, vendas e muito mais.</p>
            <h2>PAGINA HOME EM DESENVOLVIMENTO</h2>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Lajota</p>
    </footer>
</body>
</html>
