<!-- Template 2: ERP - Recursos Humanos -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP - Recursos Humanos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <header>
        <h1><a href="/">Recursos Humanos</a></h1> 
        <nav>
            <ul>
                <li><a href="/estoque">Estoque</a></li>
                <li><a href="/recursoshumanos">Recursos Humanos</a></li>
                <li><a href="/vendedor">Vendedor</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Adicionar Funcionário</h2>
            <form>
                <input type="text" id="nome-funcionario" placeholder="Nome">
                <input type="text" id="salario-funcionario" placeholder="Salario">
                <input type="password" id="senha-funcionario"placeholder="Senha">
                <input type="checkbox" id="is-admin"> Admin
                <button onclick="addFuncionario()" id="btn-add-funcionario">Adicionar Funcionário</button>
            </form>
        </section>
        <section id="funcionarios-list">
            <h2>Funcionários</h2>
            <!-- funcionarios list will be rendered here -->
        </section>
    </main>
    <script src="{{url_for('static', filename='js/recursoshumanos.js')}}"></script>
</body>
</html>