<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>ERP - Vendas</title>
</head>
<body>
    <header>
        <h1>ERP - Vendas</h1>
    </header>
    <main>
        <section>
            <h2>Adicionar Venda</h2>

            <select id="vendedor-list">
                   
            </select>
            <select id="produto-list">
                
            </select>
            <input type="number" id="quantidade" placeholder="quantidade">
            <p id="valor_produto"></p>
            <p id="valor_total"></p>
            <button onclick="addVenda()">Efetuar Venda</button>
        </section>
        <section id="vendas-list">
            <h2>Vendas Registradas</h2>
        </section>
    </main>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>