<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>ERP - Vendedor</title>
</head>
<body>
    <header>
        <div>
            <h1><a href="/">Vendedor</a></h1> 
            <nav>
                <ul>
                    <li><a href="/estoque">Estoque</a></li>
                    <li><a href="/recursoshumanos">Recursos Humanos</a></li>
                    <li><a href="/vendedor">Vendedor</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </nav>
        </div>
        <div id="div-logout">
            <button id="logout-button" onclick="logout()">Logout</button>
        </div>
    </header>
    <main>
        <section>
            <h2>Adicionar Venda</h2>
            <select id="vendedor-list"></select>
            <select id="produto-list"></select>
            <input type="number" id="quantidade" placeholder="Quantidade">
            <p id="valor_produto"></p>
            <p id="valor_total"></p>
            <button onclick="addVenda()" id="add-venda-button">Efetuar Venda</button>
        </section>
        <section id="vendas-list">
            <h2>Vendas Registradas</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Funcionário</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Valor Produto</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tbody id="vendas-body">
                    <!-- Vendas serão inseridas aqui -->
                </tbody>
            </table>
        </section>
    </main>
    <script src="{{url_for('static', filename='js/vendedor.js')}}"></script>
</body>
</html>
